/* @tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	overflow-y: scroll;
	scrollbar-width: none;
}
:root {
	overflow-y: scroll;
	scrollbar-width: none;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins {
	font-family: "Poppins", sans-serif;
}

@keyframes rotateLeft {
	from {
		transform: rotate(180deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@keyframes rotateRight {
	from {
		transform: rotate(-180deg);
	}
	to {
		transform: rotate(0deg);
	}
}

.angle-icon.rotate-left {
	animation: rotateLeft 0.5s ease forwards;
}

.angle-icon.rotate-right {
	animation: rotateRight 0.5s ease forwards;
}

::-webkit-scrollbar {
	width: 6px; 
}

::-webkit-scrollbar-thumb {
	background-color: #cccccc; 
	border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #aaaaaa; }

::-webkit-scrollbar-track:hover {
	background-color: #f0f0f0; 
}
